/*--------------------------------------------------------------
# Embedded Fonts
--------------------------------------------------------------*/

@font-face {
    font-family: 'Merriweather';
    src: url('../../fonts/Merriweather-LightItalic.eot');
    src: url('../../fonts/Merriweather-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Merriweather-LightItalic.woff2') format('woff2'),
        url('../../fonts/Merriweather-LightItalic.woff') format('woff'),
        url('../../fonts/Merriweather-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../../fonts/Merriweather-Light.eot');
    src: url('../../fonts/Merriweather-Light.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Merriweather-Light.woff2') format('woff2'),
        url('../../fonts/Merriweather-Light.woff') format('woff'),
        url('../../fonts/Merriweather-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../../fonts/Merriweather-Bold.eot');
    src: url('../../fonts/Merriweather-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Merriweather-Bold.woff2') format('woff2'),
        url('../../fonts/Merriweather-Bold.woff') format('woff'),
        url('../../fonts/Merriweather-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../../fonts/Merriweather-BoldItalic.eot');
    src: url('../../fonts/Merriweather-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Merriweather-BoldItalic.woff2') format('woff2'),
        url('../../fonts/Merriweather-BoldItalic.woff') format('woff'),
        url('../../fonts/Merriweather-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Novovento';
    src: url('../../fonts/Novovento-Bold.eot');
    src: url('../../fonts/Novovento.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Novovento-Bold.woff2') format('woff2'),
        url('../../fonts/Novovento-Bold.woff') format('woff'),
        url('../../fonts/Novovento-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Novovento';
    src: url('../../fonts/Novovento.eot');
    src: url('../../fonts/Novovento.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Novovento.woff2') format('woff2'),
        url('../../fonts/Novovento.woff') format('woff'),
        url('../../fonts/Novovento.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

