/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Adventure archive*/

.post-type-archive-adventure{
    .site-content {
        padding-top: 35px;
        
        .page-header {
            padding-bottom: 1.5rem;
        }
        .adventure-grid {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-gap: 1.5rem;
            margin-bottom: 4.5rem;

            .adventure-grid-item {
                position: relative;

                &:before {
                    content: "";
                    float: left;
                    padding-top: 100%;
                }
                .story-wrapper {
                    bottom: 0;
                    left: 0;
                    overflow: hidden;
                    position: absolute;
                    right: 0;
                    top: 0;

                    &:after {
                        background: rgba(0,0,0,.35);
                        content: "";
                        height: 100%;
                        left: 0;
                        position: absolute;
                        top: 0;
                        width: 100%;
                        z-index: 1;
                    }
                    img {
                        left: 50%;
                        max-height: 550px;
                        max-width: none;
                        width: auto;
                        position: absolute;
                        top: 50%;
                        transform: translate(-50%,-50%);
                        z-index: 1;
                    }
                }
                .story-info {
                    margin: 4.5rem 1.5rem;
                    position: absolute;
                    z-index: 2;
                    h2 {
                        font-family: Merriweather Web,serif;
                        font-size: 48px;
                        font-size: 3rem;
                        font-weight: 400;
                        margin-bottom: 4.5rem;
                        text-transform: none;
                        a {
                            color: #fff;
                            &:hover {
                                color: #f0e4d1;
                            }
                        }
                    }
                }
            }
        }
    }
}


/* Adventure single*/
.single-adventure{
    header.site-header {
        // height: 0;
    }
    .site-content{
        padding-top: 0px;
    }
    img {
            width: 100%;
    }
    article{
        width: 100%;

        .entry-meta {
            font-family: Novecento Sans Web,sans-serif;
            font-size: 19.2px;
            font-size: 1.2rem;
            text-transform: uppercase;
        }
        .entry-footer{
            .social-buttons i {
                margin-right: 10px;
            }
        }
    }
}
.single-adventure .entry-content, .single-adventure .entry-footer, .single-adventure .entry-meta, .single-adventure .entry-title {
    max-width: 800px;
}

.single-adventure .site-content .content-area .site-main .product-content-wrapper .entry-content .social-buttons i, .single-adventure .site-content .content-area .site-main .product-image-wrapper .entry-content .social-buttons i, .single-product.product-template-default.single.single-product .site-content .content-area .site-main .product-content-wrapper .entry-content .social-buttons i, .single-product.product-template-default.single.single-product .site-content .content-area .site-main .product-image-wrapper .entry-content .social-buttons i {
    margin-right: 10px;
}

body:not(.home):not(.page-template-page-template-about):not(.single-adventure):not(.archive) .content-area, body:not(.home):not(.page-template-about):not(.single-adventure) .widget-area {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
