// Structure

$base__space-unit: 1.5rem;

// Colors

$color__background-body: #fff;
$color__text-main: #404040;
$color__text-brand: #248A83;
$color__text-secondary: #d99054;
$color__text-white: #fff;
$color__text-light-grey: #a1a1a1;
$color__text-medium-grey: #808080;

$color__background-brand: #248A83;
$color__background-secondary:#d99054;
$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

$color__background-hr: #ccc;
// $color__background-pre: #eee;
// $color__background-ins: #fff9c0;
// $color__border-abbr: #666;

$color__link: #248A83;
$color__link-visited: #f0e4d1;;
$color__link-hover: #f0e4d1;

$border-solid: 1px solid #e1e1e1;
$border-dashed: 1px dashed #c8c8c8;

// Typography

$font__main: "Merriweather";
$font__heading: "Novovento";
$font__line-height-body: 1.7;
// $font__line-height-pre: 1.6;
